.name:hover{
	background-color: #210101;
	color: black;
	cursor: pointer;
}
body{
	background: url(mcgarage.jpg)no-repeat 0 0 fixed;
	background-size: cover;
}
.column{
	padding-top: 200px;
	margin-top: 100px;
	margin-left: 400px;
	height:180px;
	width:500px;
}
    
h1{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    color: white;